.find-hotel {
  padding-left: 20px;
  padding-top: 29px;
  padding-right: 20px;
  padding-bottom: 49px;

  text-align: center;
}

.find-hotel strong {
  .general-font(21px, 26px);
}

.find-hotel p {
  margin-top: 17px;

  line-height: 24px;
}
