@f-b: form-block;

/* HEADER */
.@{f-b}__header {
  margin: 0;

  padding-left: 20px;
  padding-top: 38px;
  padding-right: 20px;
  padding-bottom: 16px;

  text-align: center;

  border-bottom: 1px solid #e5e5e5;
}

.@{f-b}__title {
  margin: 0;
  margin-bottom: 27px;

  .general-font (18px, 26px);
}

.@{f-b}__header p {
  margin: 0;

  line-height: 24px;
}

/* По группам (секциям) */
.@{f-b}__fieldset {
  margin: 0;
  padding-left: 20px;
  padding-top: 19px;
  padding-right: 20px;

  border-bottom: 1px solid #e5e5e5;

  &--introduce {
    padding-bottom: 25px;
  }

  &--contacts {
    padding-bottom: 15px;
  }

  &--opinion {
    padding-bottom: 27px;
  }

  &--places {
    padding-bottom: 27px;
  }

  &--summary {
    margin-bottom: 45px;

    border-bottom: none;
  }

}

/* ЗАГОЛОВКИ */
.@{f-b}__fieldset-title {
  max-width: 320px;
  margin: 0;

  .general-font(18px, 26px);
  text-align: center;

  &--introduce {
    margin-bottom: 20px;
  }

  &--contacts {
    margin-bottom: 20px;
  }

  &--opinion {
    margin-bottom: 24px;
  }

  &--places {
    margin-bottom: 18px;
  }

  &--summary {
    margin-bottom: 16px;
  }
}

.@{f-b} label {
  margin: 0;

  .general-font(14px, 26px);
}

.@{f-b}__field-introduce {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

}

/* ИНПУТЫ */

.@{f-b}__field-wrapper {
  position: relative;

  margin: 0;
  margin-bottom: 13px;
}

.@{f-b}__user-info {
  margin: 0;
  padding-left: 23px;
  padding-top: 21px;
  padding-bottom: 21px;

  background-color: #f2f2f2;
  border: none;
  outline-color: @m-color;

  &--introduce {
    flex-grow: 1;
    margin-left: 14px;
  }

  &--contacts {
    width: 280px;
    margin-top: 6px;
  }

  &--contacts:last-of-type {
    margin-bottom: 0;
  }

}

.@{f-b}__field-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;

  width: 58px;
  height: 58px;

  background: #e6e6e6 url("../img/icon-phone.svg") no-repeat 50% 50%;

}

.@{f-b}__field-wrapper:last-of-type::after {
  background-image: url("../img/icon-mail.svg");
}

.@{f-b}__user-info::placeholder,
.@{f-b}__summary-text::placeholder {
  font-weight: bold;
  .general-font(18px, 26px);
  color: black;
}

.@{f-b}__fieldset--contacts label {
  margin-left: 20px;
}

.@{f-b}__fieldset input[type="checkbox"],
.@{f-b}__fieldset input[type="radio"] {
  display: none;
  margin: 0;
}

.@{f-b}__user-info:hover,
.@{f-b}__summary-text:hover {
  background-color: #e5e5e5;
}

.@{f-b}__user-info:focus ,
.@{f-b}__summary-text:focus {
  background-color: #fff;
  outline-color: #e5e5e5;
  box-shadow: inset 0 0 0 4px #e5e5e5;
}

/* РАДИО */
.@{f-b}__fieldset--opinion ul {
  margin: 0;
  padding: 0;
  padding-left: 2px;

  list-style: none;
}

.@{f-b}__fieldset--opinion li {
  margin: 0;
  margin-bottom: 18px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.@{f-b}__fieldset--opinion label,
.@{f-b}__fieldset--places label {
  margin: 0;

  .general-font(18px, 26px);
  font-weight: bold;
  text-transform: none;

  cursor: pointer;
}

.@{f-b}__radio + .@{f-b}__radio-label::before {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  margin-right: 22px;

  vertical-align: middle;

  background-color: #f2f2f2;
  border: 17px solid #f2f2f2;
  border-radius: 50%;

  cursor: pointer;
}

.@{f-b}__fieldset--opinion .@{f-b}__radio-label:hover::before {
  border-color: #e5e5e5;
  background-color: #e5e5e5;
}

.@{f-b}__radio:checked + .@{f-b}__radio-label::before {
  background-color: #333333;
}

.@{f-b}__radio:checked + .@{f-b}__radio-label:hover::before {
  border-color: #e5e5e5;
}

.@{f-b}__fieldset--opinion .@{f-b}__radio-label:active::before {
  border-color: #d5d5d5;
  background-color: #d5d5d5;
}

.@{f-b}__radio:checked + .@{f-b}__radio-label:active::before {
  border-color: #d5d5d5;
  background-color: rgba(51, 51, 51, 0.3);
}

/* ЧЕКБОКСЫ */
.@{f-b}__fieldset--places ul {
  margin: 0;
  padding: 0;
  padding-left: 2px;

  list-style: none;
}

.@{f-b}__fieldset--places li {
  margin: 0;
  margin-bottom: 28px;

  &:last-of-type {
    margin-bottom: 0;
  }

}

.@{f-b}__checkbox + .@{f-b}__checkbox-label::before {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  margin-right: 22px;

  vertical-align: middle;

  background-color: #f2f2f2;
  border-radius: 5px;

  cursor: pointer;
}

.@{f-b}__fieldset--places label {
  position: relative;
}

.@{f-b}__checkbox-icon {
  position: absolute;
  top: 50%;
  left: 15px;

  display: none;
  margin: 0;
  padding: 0;

  fill: #333333;

  transform: translateY(-50%);
}

.@{f-b}__checkbox:checked + label .@{f-b}__checkbox-icon {
  display: block;
}

.@{f-b}__checkbox + label:active .@{f-b}__checkbox-icon {
  opacity: 0.3;
}

.@{f-b}__fieldset--places .@{f-b}__checkbox-label:hover::before {
  background-color: #e5e5e5;
}

.@{f-b}__fieldset--places .@{f-b}__checkbox-label:active::before {
  background-color: #d5d5d5;
}

/* Summary (эмоции) */
.@{f-b}__summary-text {
  width: 100%;
  min-height: 160px;
  margin: 0;
  padding-left: 18px;
  padding-top: 18px;

  background-color: #f2f2f2;
  border: none;
  resize: none;
}

/* Submit */
.@{f-b}__submit-wrapper {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 38px;
}

.@{f-b}__submit-wrapper span {
  display: none;
}

.@{f-b}__submit {
  width: 100%;
  margin: 0;
}

.@{f-b}__user-info--error {
  outline: 3px solid #cb3636;
}

/* ПЛАНШЕТЫ */
@media @tablet-widths {

  .@{f-b} {
    padding-left: 60px;
    padding-right: 60px;

    background-color: #fff;
  }

  .@{f-b}__header {
    padding-left: 0;
    padding-top: 73px;
    padding-right: 0;
    padding-bottom: 75px;

    border: none;
  }

  .@{f-b}__header p {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
  }

  .@{f-b}__title {
    margin-bottom: 30px;

    .general-font(30px, 26px);
  }

  .@{f-b}__form {
    display: flex;
    flex-wrap: wrap;
  }

  .@{f-b}__fieldset {
    padding-left: 0;
    padding-right: 0;

    border: none;
  }

  .@{f-b}__fieldset-title {
    font-size: 21px;
    text-align: left;

    &--opinion {
      margin-bottom: 62px;
    }

    &--introduce {
      margin-bottom: 60px;
    }

    &--contacts {
      margin-bottom: 24px;
    }

    &--places {
      margin-bottom: 46px;
    }

    &--summary {
      margin-bottom: 58px;

    }

    &--contacts,
    &--places,
    &--summary {
      position: relative;

      min-width: 395px;
      margin-left: auto;
      margin-right: auto;

      text-align: center;

      background-color: #fff;
    }

  }

  .@{f-b}__fieldset-title-wrapper {
    position: relative;
  }

  .@{f-b}__fieldset-title-wrapper::before {
    content: "";
    position: absolute;
    top: 50%;

    display: block;
    width: 100%;

    border: 1px solid #dbdbdb;

    transform: translateY(-50%);
  }

  .@{f-b}__field-wrapper {
    width: 100%;
    margin-bottom: 23px;

    &:last-of-type {
      margin-bottom: 0;
    }

  }

  .@{f-b}__user-info--contacts {
    width: 100%;
    margin-top: 7px;
  }

  .@{f-b}__group-flex {
    margin: 0;
  }

  .@{f-b}__fieldset--places ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 97px;
    padding-right: 72px;
  }

  .@{f-b}__fieldset--places li {
    width: 220px;
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-last-of-type(2) {
      margin-bottom: 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(1) {
      order: 0;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 2;
    }

    &:nth-child(4) {
      order: 4;
    }

    &:nth-child(n+5) {
      order: 5;
    }
  }

  .@{f-b}__fieldset--opinion li {
    margin-bottom: 27px;

    &:last-of-type {
      margin-bottom: 0;
    }

  }

  .@{f-b}__submit-wrapper span {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;

    .general-font(14px, 26px);
  }

  .@{f-b}__submit-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 23px;
    padding-left: 0;
    padding-right: 0;
  }

  .@{f-b}__submit {
    width: 324px;
  }

  .@{f-b}__fieldset {

    &--introduce {
      width: 50%;
      padding-left: 58px;
      padding-top: 0;
      padding-bottom: 0;
    }

    &--contacts {
      width: 100%;
      padding-top: 68px;
      padding-bottom: 32px;
    }

    &--places {
      width: 100%;
      padding-bottom: 16px;
    }

    &--summary {
      width: 100%;
      margin-bottom: 52px;
    }

    &--opinion {
      order: -1;
      width: 50%;
      padding-top: 0;
      padding-bottom: 0;

      border-right: 1px solid #dbdbdb;
    }

  }

  .@{f-b}__user-info--introduce {
    min-width: 140px;
  }

  .@{f-b}__submit-wrapper sup {
    left: -0.35em;
    top: -0.1em;
  }

}

/* ДЕСКТОПЫ */
@media @desktop-widths {

  .@{f-b} {
    padding-left: 120px;
    padding-right: 120px;
  }

  .@{f-b}__header {
    padding-top: 110px;
    padding-bottom: 61px;
  }

  .@{f-b}__fieldset-title {

    &--introduce {
      margin-bottom: 57px;
    }

    &--contacts {
      margin-bottom: 67px;
    }

    &--summary {
      margin-bottom: 57px;
    }

    &--opinion {
      min-width: 100%;
      margin-bottom: 61px;
      padding-left: 74px;
    }

  }

  .temp-text {
    display: none;
  }

  .@{f-b}__fieldset--opinion ul {
    padding-left: 0;
  }

  .@{f-b}__fieldset {

    &--introduce {
      padding-left: 80px;
    }

    &--contacts {
      padding-bottom: 11px;
    }

    &--places {
      padding-bottom: 32px;
    }

    &--opinion {
      padding-left: 6px;
    }

  }

  .@{f-b}__field-wrapper {
    width: 50%;
  }

  .@{f-b}__field-wrapper:first-of-type::after {
    right: 81px;
  }

  .@{f-b}__field-wrapper:nth-child(2)::after {
    top: 7px;
  }

  .@{f-b}__user-info--contacts {
    width: 315px;
    margin-left: 12px;
  }

  .@{f-b}__fieldset--contacts label {
    margin-left: 0;
  }

  .@{f-b}__group-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .@{f-b}__fieldset--places ul {
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
  }

  .@{f-b}__fieldset--places li {
    width: auto;
    margin: 0;
    margin-right: 67px;
    padding: 0;
    padding-left: 2px;
    padding-bottom: 15px;

    &:nth-child(2n) {
      margin-right: 68px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

  }

  .@{f-b}__submit-wrapper {
    padding-bottom: 43px;
  }

  .@{f-b}__submit {
    width: 50%;
  }

}
