.gallery__item {
  margin: 0;

  padding-left: 20px;
  padding-top: 22px;
  padding-right: 20px;
  padding-bottom: 18px;

  border-bottom: 1px solid #e5e5e5;
}

.gallery__item-descr,
.gallery__item-descr p {
  margin: 0;
}

.gallery__item-descr {
  padding-top: 18px;
}

.gallery__item-img {
  margin: 0;
}

.gallery__item-img img {
  display: block;
  margin: 0;
}

.gallery__item i {
  margin: 0;

  font-style: normal;
  font-weight: normal;
  text-transform: none;
}

.gallery__item b {
  display: block;
  margin: 0;
  margin-left: 37px;
  margin-top: 13px;
}

@media @tablet-widths {

  .gallery__item {
    width: 324px;
    margin: 0;
    padding: 0;

    border: none;

    &:first-of-type {
      width: 648px;
    }

  }

  .gallery__item img {
    width: 324px;
    height: 267px;
  }

  .gallery__item:first-of-type img {
    width: 648px;
    height: 400px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .gallery__item-descr {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 19px;
    padding-bottom: 20px;

    background-color: #f2f2f2;
  }

  .gallery__item:nth-of-type(2n + 3) .gallery__item-descr {
    background-color: #eaeaea;
  }

  .gallery__item-descr-group {
    width: 250px;
  }

  .gallery__item i {
    display: block;
  }

  .gallery__item-descr b {
    margin: 0;
  }

  .gallery__item:first-child .gallery__item-descr-group {
    width: 575px;
  }

}

@media @desktop-widths {

  .gallery__item {
    position: relative;

    width: 400px;

    &:first-of-type {
      width: 1200px;
    }

  }

  .gallery__item img {
    width: 400px;
    height: 267px;
  }

  .gallery__item:first-of-type img {
    width: 1200px;
    height: 399px;
  }

  .gallery__item-descr,
  .gallery__item:nth-of-type(2n + 3) .gallery__item-descr {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .gallery__item-descr {
    position: absolute;
    width: inherit;
    left: 0;
    bottom: 0;

    color: #fff;
  }

  .gallery__item-descr-group {
    width: 327px;
  }

  .gallery__item:first-child .gallery__item-descr-group {
    width: 1127px;
  }


}
