.gallery__item {
  margin: 0;

  padding-left: 20px;
  padding-top: 22px;
  padding-right: 20px;
  padding-bottom: 17px;

  border-bottom: 1px solid #e5e5e5;
}

.gallery__item-descr,
.gallery__item-descr p {
  margin: 0;
}

.gallery__item-img {
  margin: 0;

  .general-font(14px, 24px);
}

.gallery__item-img img {
  display: block;
  margin: 0;
}

.gallery__item i {
  margin: 0;

  font-style: normal;
  font-weight: normal;
  text-transform: none;
}

.gallery__item b {
  display: block;
  margin: 0;
  margin-left: 37px;
  margin-top: 13px;
}

@media @tablet-widths {

  .gallery__item {
    width: 324px;
    margin: 0;
    padding: 0;

    border: none;
  }

  .gallery__item img {
    width: 324px;
    height: 267px;
  }

  .gallery__item:first-of-type {
    width: 648px;
  }

  .gallery__item:first-of-type img {
    width: 648px;
    height: 400px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .gallery__item-descr {
    position: relative;

    background-color: #f2f2f2;
  }

  .gallery__item:nth-of-type(2n + 3) .gallery__item-descr {
    background-color: #eaeaea;
  }

  .gallery__item-descr b {
    position: absolute;
    top: 50%;
    right: 35px;

    margin: 0;

    transform: translateY(-50%);
  }

}

@media @desktop-widths {

  .gallery__item {
    width: 400px;
  }

  .gallery__item img {
    width: 400px;
    height: 267px;
  }

  .gallery__item:first-of-type {
    width: 1200px;
  }

  .gallery__item:first-of-type img {
    width: 1200px;
    height: 400px;
  }

  .gallery__item-descr,
  .gallery__item:nth-of-type(2n + 3) .gallery__item-descr {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .gallery__item {
    position: relative;
  }

  .gallery__item-descr {
    position: absolute;
    width: inherit;
    left: 0;
    bottom: 0;

    color: #fff;
  }



}
