.main-nav {
  .general-font(18px, 40px, @d-font-family, #fff);

  background-color: @m-color;
}

.main-nav__list {
  padding: 0;

  list-style: none;
}

.main-nav__list a {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;

  font-weight: bold;
  text-align: center;
  color: #fff;
}
