@t: page-header;

.@{t}__sedona-picture {
  width: 320px;
  height: 389px;

  background: @m-color url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 50%;

  &--additional-pages {
    height: 158px;
    background-position: 50% 100%;
  }
}

.@{t}__sedona-picture h1 {
  display: none; /* TODO: Временно! */
}
