.page-footer {
  padding-left: 20px;
  padding-top: 36px;
  padding-right: 20px;
  padding-bottom: 28px;

  text-align: center;
}

.page-footer p {
  margin-bottom: 36px;

  font-weight: bold;
  .general-font(21px, 26px);
}

.page-footer a {
  color: #000;
}

.page-footer__social {
  margin-bottom: 27px;

  font-size: 0;
  vertical-align: middle;
}

.page-footer__copyright {
  padding-left: 74px;

  text-align: left;
}

.page-footer__copyright span {
  .general-font(14px, 26px);
}
